<script setup lang="ts">
import {
  useToast,
  TwButton,
  TwErrorMessage,
  TwForm,
  TwInput,
} from "vue3-tailwind";

definePageMeta({
  layout: "front",
});

useHead({
  title: "Login",
});

const toast = useToast();
const formLogin = ref();
const formError = ref(false);

const formData: {
  [key: string]: any;
} = reactive({
  email: "아이디",
  password: "비밀번호",
});

const login = async () => {
  const validator = formLogin.value.validator();
  validator.clearErrors();
  await validator.validate();
  if (validator.fail()) {
    toast.error({
      message: validator.getErrorMessage(),
    });

    toggleFormError();
    return;
  }

  if (
    !(formData.email === "admin@matddok.com" && formData.password === "password")
  ) {
    toast.error({
      message: "Email & Password combination missmatch",
      lifetime: 3000,
    });

    toggleFormError();
    return;
  }

  const router = useRouter();

  toast.success({
    message: "Loggin success, youre being redirected",
    lifetime: 1000,
  });

  setTimeout(() => {
    router.push("/");
  }, 1000);
};

const toggleFormError = () => {
  formError.value = true;
  setTimeout(() => {
    formError.value = false;
  }, 1250);
};
</script>

<template>
  <div class="text-white flex justify-center pt-40">
    <div
      class="rounded-t-lg w-96 p-1 bg-gradient-to-b h-20"
      :class="{
        'tw-shake': formError,
      }"
    >
      <div
        class="header bg-white border-n p-4 rounded-t flex justify-center"
      >
        <h1 class="flex">
          <img src="/images/logo/main_logo.png" alt="메인로고" loading="lazy">
        </h1>
      </div>
      <TwForm
        ref="formLogin"
        name="login"
        :rules="{
          email: ['required', 'email'],
          password: ['required'],
        }"
        @submit="login"
        class="body bg-white dark:bg-gray-900 p-4 rounded-b-lg"
      >
        <div class="grid grid-cols-12 gap-2">
          <div class="col-span-12">
            <TwInput
              class="dark:text-gray-200"
              v-model="formData.email"
              name="email"
            />
            <TwErrorMessage name="email"></TwErrorMessage>
          </div>
          <div class="col-span-12">
            <TwInput
              class="dark:text-gray-200"
              v-model="formData.password"
              name="password"
              type="password"
            />
            <TwErrorMessage name="password"></TwErrorMessage>
          </div>
          <div class="col-span-12">
            <TwButton class="w-full text-center font-bold">
              로그인
            </TwButton>
          </div>
        </div>
      </TwForm>
      <div class="w-full flex-row text-center mt-3">
        <div class="text-[14px] text-[#404040] font-bold mb-1">관리자 로그인 정보를 잊으셨나요?</div>
        <div class="text-[#5e5e5e] text-[12px]">그룹 관리자 또는 직원인 경우, 회사 내 전체권한 관리자에게 문의해 주세요.</div>
      </div>
    </div>
  </div>
</template>
