<template>
  <div>
<!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">가게 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">가게 상세 관리</h2>
      </div>
    </div>
<!--가게 정보 박스 1-->
    <div class="w-full mt-2 border-solid border-y border-[#212121]" :data="data.data">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">가게 No.1</p>
      </div>
      <div class="text-[15px]">
        <div class="w-full">
<!--        <div class="divide-y divide-gray-200 dark:divide-gray-700">-->
          <div class="flex leading-10">
            <div class="flex w-1/2 ">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] ">가게 명</div>
              <div class="">{{ data.data.storeName }}</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 전화번호</div>
              <div class="">032-884-4787</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2 ">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] ">대표자명</div>
              <div class=""></div>
            </div>
            <div class="flex w-1/2">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">사업자 번호</div>
              <div class="">032-884-4787</div>
            </div>
          </div>
          <hr>
          <div class="flex">
            <div class="py-2 w-32 text-center h-[400px] mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 위치</div>
            <GoogleMap class="py-2"
              api-key="AIzaSyAcSXPHg83WSMwZTr2GrzJJPfH-0FSzH0s"
              style="width: 75%; height: 400px"
              :center="center"
              :zoom="15"
            >
              <Marker :options="{ position: center }" />
            </GoogleMap>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-full">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 주소(도로명)</div>
              <div class="">경기도 안산시 단원구 구봉길 6</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-full">
              <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">가게 주소(지번)</div>
              <div class="">경기도 안산시 단원구 대부북동 1857-7</div>
            </div>
          </div>
            <hr>
            <div class="flex leading-10">
                <div class="flex w-full">
                    <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">운영시간</div>
                    <div class=""></div>
                </div>
            </div>
            <hr>
            <div class="flex leading-10">
                <div class="flex w-full">
                    <div class="w-32 text-center h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]">휴무일</div>
                    <div class=""></div>
                </div>
            </div>

        </div>
      </div>
    </div>
    <div class="w-full flex justify-center mt-5">
      <TwButton variant="primary" class="w-[4.375rem] text-center text-[14px] bg-[#1a1a1a]">
        확인
      </TwButton>
    </div>
  </div>
</template>
<script setup lang="ts">
import {TwButton} from "vue3-tailwind";
import { onMounted, ref } from "vue";

import { GoogleMap, Marker } from 'vue3-google-map'
import {values} from "lodash-es";

const center = { lat: 37.2738370966339, lng: 126.571555037643 }


const data = ref({
  id: "",
  data: [
    {
      field: "storeName"
    }
  ],
})

onMounted(() => {
  fetch("/v1/store/detail/")
      .then((res) => res.json())
      .then((json) => {
        data.value.data = json.data;
      });
});

</script>
