<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">관리자 설정</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">관리자 정보 설정</h2>
      </div>
    </div>
    <!--관리자 상세보기 -->
    <div class="w-full mt-5 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">관리자 정보</p>
      </div>
      <div class="text-[15px]">
        <div class="w-full">
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">이름</div>
              <div class="">관리자</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">아이디</div>
              <div class="">qoqudtn310@naver.com</div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">비밀번호</div>
              <div class="">1111111</div>
            </div>
          </div>
          <hr>
          <div class="w-full flex justify-center mt-5 mb-5">
            <TwButton variant="danger" class="w-[4.375rem] text-center text-[13px] text-[#e0e0e0] ">
              수정
            </TwButton>
          </div>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--관리자 정보 -->
    <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
      <p class="ml-3 text-[15px]">관리자 정보</p>
    </div>
    <div class="text-[15px]">
      <div class="w-full">
        <div class="flex leading-10">
          <div class="flex w-1/2">
            <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">이름</div>
            <div class="">관리자</div>
          </div>
        </div>
        <hr>
        <div class="flex leading-10">
          <div class="flex w-1/2">
            <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">회사명</div>
            <div class="">맛딱드림</div>
          </div>
        </div>
        <hr>
        <div class="flex leading-10">
          <div class="flex w-1/2">
            <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">대표자 이름</div>
            <div class="">배병수</div>
          </div>
        </div>
        <hr>
        <div class="flex leading-10">
          <div class="flex w-1/2">
            <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">전화번호</div>
            <div class="">031-123-4567</div>
          </div>
        </div>
        <hr>
        <div class="flex leading-10">
          <div class="flex w-1/2">
            <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">주소</div>
            <div class="">경기도 안산시 단원구 고잔동 123</div>
          </div>
        </div>
        <hr>
        <div class="flex leading-10">
          <div class="flex w-1/2">
            <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">사업자 번호</div>
            <div class="">123-44-5678</div>
          </div>
        </div>
        <hr>
        <div class="flex leading-10">
          <div class="flex w-1/2">
            <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">Copyrignt</div>
            <div class="">Copyright(c) 맛딱드림 All right reserved</div>
          </div>
        </div>
        <div class="flex leading-10">
          <div class="flex w-1/2">
            <div class=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center mt-5">
      <TwButton variant="danger" class="w-[4.375rem] text-center text-[13px] text-[#e0e0e0] ">
        수정
      </TwButton>
    </div>
  </div>
</template>
<script setup lang="ts">
import {TwButton} from "vue3-tailwind";
import {ref} from "vue";
const data = ref({
  id: "",
})

</script>
